{% extends 'base.html' %}

{% block head %}
    <title>Adverts</title>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
    <br>
        <h1 class="d-flex justify-content-md-center align-items-center">Adverts</h1>
    <br>
        {% if posts|length < 1 %}
            <h1>There is no post yet</h1> 
            <a class="btn btn-primary" href="{{url_for('profile')}}">Create a post</a>
            
        {% else %}
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Owner</th>
                            <th scope="col">Task</th>
                            <th scope="col">Added</th>
                        </tr>
                    </thead>
                    {% for post in posts %}
                        <tbody>
                            <tr>
                                <td scope="row">{{ post.user.first_name }}</td>
                                <td scope="row">{{ post.content }}</td>
                                <td scope="row">{{ post.date_created.date() }}</td>                  
                            </tr>
                        </tbody>
                    {% endfor %}          
                </table>

                <a class="btn btn-outline-dark" href="{{url_for('profile')}}">Create a post</a>

            </div>
            
        {% endif %}
        

        
    {% else %}
        <br>
            <h1 class="d-flex justify-content-md-center align-items-center">Adverts</h1>
        <br>
        {% if posts|length < 1 %}
            <h1>There is no post yet</h1> 
            <a class="btn btn-primary" href="{{url_for('profile')}}">Create a post</a>
            
        {% else %}
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Owner</th>
                            <th scope="col">Task</th>
                            <th scope="col">Added</th>
                        </tr>
                    </thead>
                    {% for post in posts %}
                        <tbody>
                            <tr>
                                <td scope="row">{{ post.user.first_name }}</td>
                                <td scope="row">{{ post.content }}</td>
                                <td scope="row">{{ post.date_created.date() }}</td>                  
                            </tr>
                        </tbody>
                    {% endfor %}          
                </table>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock %}