{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
        <h1>Hi {{ current_user.username }}! You are already logged in</h1>

    {% else %}
    <h1>Login</h1>
        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            {{ form.email }}
            {{ form.password }}
            {{ form.submit }}
        </form>
    <a href="{{url_for('signup')}}">Don't have an account? Sign Up!</a>    
    {% endif%}
    
{% endblock %}
    

