{% extends 'base.html' %}

{% block head %}
    <title>Create Post</title>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Added</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            {% for post in posts %}
                <tbody>
                    <tr>
                        <td scope="row">{{ post.content }}</td>
                        <td scope="row">{{ post.date_created.date() }}</td>
                        <td scope="row">
                            <a class="btn btn-danger" href="/delete">Delete</a>
                            <a class="btn btn-warning" href="/update">Update</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}          
        </table>
    </div><br><br><br>
    <div class="d-flex justify-content-md-center align-items-center">
        <form action="/post" method="POST">
            <label for="content">Create a post</label><br>
            <textarea id="content" name="content" rows="5" cols="50"></textarea><br>
            <input class="btn btn-success" type="submit" value="Send">
        </form>
    </div>
        
      

    {% else %}
        <h3>You need to log in to create a post</h3>
    {% endif %}
{% endblock %}