{% extends 'base.html' %}

{% block head %}
    <title>Sing Up</title>
{% endblock %}

{% block body %}

    {% if current_user.is_authenticated %}
    
    <h1>Hi {{ current_user.username }}! You are already registered!</h1>

    {% else %}
    <br><br>
    <h1 class="d-flex justify-content-md-center align-items-center">Sign Up!</h1>
    <div class="d-flex justify-content-md-center align-items-center">
        <form method="POST" action="/signup">
            {{ form.hidden_tag() }}<br>
            {{ form.email }}<br><br>
            {{ form.username }}<br><br>
            {{ form.password }}<br><br>
            {{ form.age }}<br><br>
            {{ form.gender }}<br><br>
            {{ form.location }}<br><br>
            {{ form.submit }}<br><br>
        </form>
    </div>

    <a class="d-flex justify-content-md-center align-items-center" href="{{url_for('login')}}">Already have an account? Login!</a>

    {% endif %}

{% endblock %}